.header {
  height: 70px;
  background: #222;
  color: #fff;
  text-align: center;
  line-height: 70px;
}

.side {
  width: 256px;
  background: #222;
  height: calc(100vh - 70px);
  /* composes: pull-left from '../../style/base.css'; */
}
.content {
  width: calc(100% - 256px);
  background-color: #ddd;
  font-size: 26px;
  height: calc(100vh - 70px);
  padding: 20px;
  /* composes: pull-right from '../../style/base.css'; */
}

:global(.app-wrap .section) {
  font-size: 22px
}


      