.home-wrap
  .header
    height: 70px;
    background: #222;
    color: #fff;
    text-align: center;
    line-height: 70px;
  .section
    .side
      // width: 256px
      background: #222
      height: calc(100vh - 70px)
    .content
      width: calc(100% - 80px)
      background-color: #34f
      height: calc(100vh - 70px)